<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/createPage.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">



    <form action="{% url 'home' %}" method="get">
        <button class="back-button" type="submit">
              <input type="image" src="{% static 'images/home.svg'%}" style="width: 20px;">
        </button>
    </form>


    <div class="form-div">


        <form action= "{% url 'addCard'%}"  method="post">
            {% csrf_token %}
            {{f_form.as_p}}
            <input type="hidden" name="f_form" value="f_form">
            <button class="button" type="submit">Create</button>
        </form>
        <form action= "{% url 'addCard'%}" method="post">
            {% csrf_token %}
            {{e_form.as_p}}
             <input type="hidden" name="e_form" value="e_form">
            <button class="button" type="submit">Submit</button>
        </form>



    </div>
</div>

</body>
</html>