<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"   type="text/css" href="{% static 'css/landing.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">


</head>
<body>


    <form action="{% url 'createPage' %}" method="get">
        <button type="submit">Create Cards</button>
    </form>


    <form action="{% url 'viewCards' %}" method="get">
        <button type="submit"> View all Cards</button>
    </form>



</body>
</html>