<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/viewCard.css' %}">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
{% load my_filters %}

    <div class="container" >

    {% if card %}

     <div id="success-message" style="display: none;">

     </div>

     <form action="{% url 'viewCards' %}" method="get">
        <button type="submit"><--</button>

    </form>


            <div class="def-div" id="definition-div">

                <div style="display: flex; margin: 20px 0px 0px 0px;">
                    <p id="card" style="display:none;">{{ card }}</p>
                    <h2 contenteditable="false" id="word-text" style="margin: 0px 20px 0px 10px;">{{ card.word }}</h2>
                    <button id="edit-btn">Edit</button>
                    <button id="submit-btn" style="display: none;">Save Changes</button>
                </div>

                <div id="definitionCarousel">
                    <ol>
                        {% for definition in card.definitions.all %}
                            <li id="definition-{{ definition.id }}" style="display: none;">
                                <p contenteditable="false" id="def-text-{{ definition.id }}">
                                    {{ definition.definition_text|remove:"(for riveting)" }}
                                </p>
                                <p contenteditable="false" id="sentence-use-{{ definition.id }}" style="font-style: italic;">
                                    {% if definition.sentence_use and definition.sentence_use != "No example provided" %}
                                        "{{definition.sentence_use}}"
                                    {% elif definition.sentence_use == "No example provided" %}
                                        {{definition.sentence_use}}
                                    {% endif %}
                                </p>
                            </li>
                        {% endfor %}
                    </ol>
                </div>


                <input type="hidden" id="currentDefinitionId" value="">
                    <button id="prevBtn">Previous</button>
                    <button id="nextBtn">Next</button>
            </div>

    </div>


    {% else %}


     <form action="{% url 'home' %}" method="get">
        <button type="submit"><--</button>

    </form>


       <form action="{% url 'createPage' %}" method="get">
        <button type="submit">Create Cards</button>
    </form>




    {% endif %}

<script>

    document.addEventListener('DOMContentLoaded', function(){
        var definitions = document.querySelectorAll('#definitionCarousel li');
        var currentIndex = 0;
        var editingDef = false;
        var editButton = document.getElementById('edit-btn');



        function showDefinition(index){
            var shownDefinitionId; // Variable to store the ID of the definition that will be shown

            definitions.forEach(function(definition, i){
                // Determine if this definition should be shown
                if (i === index) {
                    definition.style.display = 'block';
                    shownDefinitionId = definition.id; // Store the ID of the definition that will be shown
                } else {
                    definition.style.display = 'none';
                }
            });
    // Update currentDefinitionId after the loop, using the ID of the definition that was shown
            document.getElementById('currentDefinitionId').value = shownDefinitionId;
        }

        document.getElementById('definition-div').addEventListener('click', function(event){
           if(event.target.matches('#prevBtn')){

               if(editingDef === false)
               {
               console.log('Previous button clicked.');
               currentIndex = currentIndex > 0 ? currentIndex - 1 : definitions.length - 1;
               console.log(currentIndex);
               showDefinition(currentIndex);
               var defId = document.getElementById('currentDefinitionId').value;
               console.log("Updated ID: " + defId);

               }
               else
               {
                   alert("Please finish editing before switching!");
               }

           }
           else if (event.target.matches('#nextBtn')){
               if (editingDef === false)
               {
                   console.log('Next button clicked.');
                   currentIndex = (currentIndex + 1) % definitions.length;
                   console.log(currentIndex);
                   showDefinition(currentIndex);
                   var defId = document.getElementById('currentDefinitionId').value;
                   console.log("Updated ID: " + defId);
               }else
               {
                   alert("Please finish editing before switching!");
               }

           }
           else if(event.target.matches('#edit-btn'))
           {
               editingDef = true;
               var defId = document.getElementById('currentDefinitionId').value;
               var formattedId = defId.replace(/[^0-9]/g, "");

               var wordText = document.getElementById('word-text');
               var definition = document.getElementById('def-text-' + formattedId);
               var sentence = document.getElementById('sentence-use-' + formattedId);


               if (wordText && definition && sentence) {
                   wordText.contentEditable = wordText.contentEditable === 'false' ? 'true' : 'false';
                   definition.contentEditable = definition.contentEditable === 'false' ? 'true' : 'false';
                   sentence.contentEditable = sentence.contentEditable === 'false' ? 'true' : 'false';
               } else {
                   console.error('One or more elements could not be found.');
               }


               editButton.style.display = editButton.style.display === 'none' ? 'inline' : 'none';
               document.getElementById('submit-btn').style.display = document.getElementById('submit-btn').style.display === 'inline' ? 'none' : 'inline';


           }

           else if(event.target.matches('#submit-btn'))
           {
               var defId = document.getElementById('currentDefinitionId').value;
               var formattedId = defId.replace(/[^0-9]/g, "");

               var wordText = document.getElementById('word-text').textContent;
               var definitionText = document.getElementById('def-text-' + formattedId).textContent;
               var sentenceText = document.getElementById('sentence-use-' + formattedId).textContent;



               console.log(definitionText);
               console.log(sentenceText);



               console.log(sentenceText);
               var cardId = "{{ card.id }}";
                console.log(cardId);
               $.ajax({
                   url: '/' + cardId + '/editWord/',
                   type: 'POST',
                   data: {
                       'card-id': cardId,
                       'def-id': formattedId,
                       'word-text': wordText,
                       'def-text': definitionText,
                       'sentence-use': sentenceText,
                       'csrfmiddlewaretoken': '{{ csrf_token }}'
                   },
                    success: function(response){
                        var successMessageElement = document.getElementById('success-message');

                        successMessageElement.textContent = 'Saved Successfully!';
                        successMessageElement.style.display = 'block';
                        successMessageElement.classList.add('success');

                        setTimeout(function(){
                            successMessageElement.style.display = 'none';
                            successMessageElement.textContent = '';

                        }, 3000);


                        editingDef = false;
                        document.getElementById('word-text').contentEditable = document.getElementById('word-text').contentEditable === 'true' ? 'false' : 'true';
                        document.getElementById('def-text-' + formattedId).contentEditable = document.getElementById('def-text-' + formattedId).contentEditable === 'true' ? 'false' : 'true';
                        document.getElementById('sentence-use-' + formattedId).contentEditable = document.getElementById('sentence-use-' + formattedId).contentEditable === 'true' ? 'false' : 'true';
                        document.getElementById('edit-btn').style.display = document.getElementById('edit-btn').style.display === 'none' ? 'inline' : 'none';
                        document.getElementById('submit-btn').style.display = document.getElementById('submit-btn').style.display === 'inline' ? 'none' : 'inline';

                    },
                    error: function(jqXHR, textStatus, errorThrown){
                       alert('There was a problem with the request: ' + textStatus + ' - ' + errorThrown);
                    }

               });




           }


        });
        showDefinition(currentIndex);
    })


</script>


</body>
</html>