<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>
<body>
<div>
    <form action="{% url 'createPage' %}" method="get">
            <button type="submit"><--</button>

    </form>

    {% if definitions_and_examples %}

    <div id="success-message" style="display: none;">

    </div>


    <div id="definitionDiv">

        <div id="definitionCarousel">

            <ol style="padding-left: 20px;">
                {% for item in definitions_and_examples %}
                    {% if forloop.first %}
                    <h2 id="word">{{ item.word }}</h2>
                    {% endif %}
                    <li id="definition-{{ forloop.counter }}" style="display: none;" >
                        <p id="definition-text-{{ forloop.counter }}"> {{ item.definition }} </p>
                        {% if item.example == "No example Provided" %}
                            <img id="loading-gif-two-{{ forloop.counter }}" src="{% static 'images/hourglass.gif'%}" style="display: inline; width: 50px; padding: 0px 0px 5px 0px;" >
                            <img id="loading-gif-{{ forloop.counter }}" src="{% static 'images/duck.gif' %}" style="width: 50px; display: inline; ">
                            <img id="loading-gif-two-copy-{{ forloop.counter }}" src="{% static 'images/hourglass.gif'%}" style="display: inline; width: 50px; padding: 0px 0px 5px 0px;" >
                            <p id="definition-text-{{ forloop.counter }}-example" style="font-style:italic; display: none;">{{ item.example }}</p>
                        {% else %}
                            <p id="definition-text-{{ forloop.counter }}-nexample" style="font-style:italic;">{{ item.example }}</p>
                        {% endif %}
                            <input id="addWordBtn-{{ forloop.counter }}" type="image" src="{% static 'images/saveicon.png' %}" style="display: block;"/>
                    </li>
                {% endfor %}
            </ol>
            <input type="hidden" id="currentDefinitionId" value="">
                <button id="prevBtn">Previous</button>
                <button id="nextBtn">Next</button>
        </div>
    </div>
    {% else %}
        <p>Definitions not found!</p>
    {% endif %}
</div>

<script>



    document.addEventListener('DOMContentLoaded', function(){
        var definitions = document.querySelectorAll('#definitionCarousel li')
        var currentIndex = 0;


           function addQuotesToSentenceUse() {
            var definitions = document.querySelectorAll('#definitionCarousel li');
            definitions.forEach(function(definition, index) {
                 var sentenceUseElement = definition.querySelector(`#definition-text-${index + 1}-example, #definition-text-${index + 1}-nexample`);
                if (sentenceUseElement) {
                    var sentenceUseText = sentenceUseElement.textContent;
                    // Check if the sentence use does not start and end with quotation marks
                    if (!(sentenceUseText.startsWith('"') && sentenceUseText.endsWith('"')) && !(sentenceUseText.length === 0)) {
                        // Add quotation marks around the sentence use
                        sentenceUseElement.textContent = '"' + sentenceUseText + '"';
                    }
                }});
        }





        function makeSentence()
        {
            console.log('Sentence Example!');
            var definitionText = document.getElementById('definition-text-' + (currentIndex + 1)).textContent.replace(/\s+/g, ' ').trim();
            var sentence = document.getElementById('definition-text-' + (currentIndex + 1)  +'-example').textContent.replace(/\s+/g, ' ').trim().replace(/"/g, '');
            var word = document.getElementById('word').textContent.replace(/\s+/g, ' ').trim();



            $.ajax({
                url: '/makeSen/',
                type: 'POST',
                data: {
                    'word_example': word,
                    'definition_example': definitionText,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',

                },
                success: function(response){


                    console.log("Ajax Call: Success!");
                    console.log(response.new_sentence);

                    document.getElementById('loading-gif-' + (currentIndex + 1)).style.display = 'none';
                    document.getElementById('loading-gif-two-' + (currentIndex + 1)).style.display = 'none';
                    document.getElementById('loading-gif-two-copy-' + (currentIndex + 1)).style.display = 'none';
                    console.log(document.getElementById('definition-text-' + (currentIndex + 1)  +'-example').textContent);
                    document.getElementById('definition-text-' + (currentIndex + 1)  +'-example').textContent = response.new_sentence;
                    document.getElementById('definition-text-' + (currentIndex + 1)  +'-example').style.display = 'block';
                    addQuotesToSentenceUse();
                },
                error: function(jqXHR, textStatus, errorThrown)
                {
                    alert('There was a problem with the request: ' + textStatus + ' - ' + errorThrown);
                }


            })



        }

        function checkConditionAndMakeAjaxCall(element) {
               console.log('Condition Function called!');
               var bool1 = element.style.display === 'block';
               try{
                   var sentence = document.getElementById('definition-text-' + (currentIndex + 1)  +'-example').textContent;

               }catch(TypeError)
               {
                   console.log("Invalid Sentence Error Caught!")
                   var sentence = document.getElementById('definition-text-' + (currentIndex + 1)  +'-nexample').textContent;

               }

               var bool2 = sentence === 'No example Provided' || sentence === '"No example Provided"';
               console.log("Display === block: "+bool1);
               console.log("Text is === 'No example Provided' : " + bool2);
               console.log("Sentence: " + sentence);


          if (bool1 && bool2) {
              console.log('Condition Passed!');
                makeSentence();
            }
        }

        function showDef(index){
            var shownDefinitionId;

            definitions.forEach(function(definition,i){
                if(i === index){
                    definition.style.display = 'block';
                    shownDefinitionId = definition.id;
                   checkConditionAndMakeAjaxCall(definition);

                } else{
                    definition.style.display = 'none';
                }
                  addQuotesToSentenceUse();

            });

            document.getElementById('currentDefinitionId').value = shownDefinitionId;
        }
        document.getElementById('definitionDiv').addEventListener('click', function(event){
            if(event.target.matches('#prevBtn')){
                console.log('Prev button Clicked');
                console.log(currentIndex);
                currentIndex = currentIndex > 0 ? currentIndex - 1 : definitions.length - 1;
                console.log(currentIndex);
                showDef(currentIndex);

            }else if(event.target.matches('#nextBtn')){
                console.log('Next button Clicked');
                currentIndex = (currentIndex + 1) % definitions.length;
                console.log(currentIndex);
                showDef(currentIndex);

            }else if(event.target.matches('#addWordBtn-' + (currentIndex + 1)) || event.target.matches('#naddWordBtn')){
                console.log('Add word button Clicked');
                var word = document.getElementById('word').textContent.replace(/\s+/g, ' ').trim();
                var definitionText = document.getElementById('definition-text-' + (currentIndex + 1)).textContent.replace(/\s+/g, ' ').trim();
                try{
                   var sentence = document.getElementById('definition-text-' + (currentIndex + 1)  +'-example').textContent.replace(/\s+/g, ' ').trim().replace(/"/g, '');

               }catch(TypeError)
               {
                   console.log("Invalid Sentence Error Caught!")
                   var sentence = document.getElementById('definition-text-' + (currentIndex + 1)  +'-nexample').textContent.replace(/\s+/g, ' ').trim().replace(/"/g, '');

               }

                $.ajax({
                    url: '/searchAdd/',
                    type: 'POST',
                    data:{
                        'word': word,
                        'definition': definitionText,
                        'sentence': sentence,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    success: function(response){

                        var successMessageElement = document.getElementById('success-message');
                        var img = document.getElementById('addWordBtn-' + (currentIndex + 1));

                        successMessageElement.textContent = 'Saved Successfully!';
                        successMessageElement.style.display = 'block';
                        successMessageElement.classList.add('success');

                        setTimeout(function(){
                            successMessageElement.style.display = 'none';
                            successMessageElement.textContent = '';

                        }, 1000);

                        img.setAttribute('src', "{% static 'images/checkmark.png' %}");
                        img.disabled = true;
                        $(img).off('click');


                    },
                    error: function(jqXHR, textStatus, errorThrown){
                         alert('There was a problem with the request: ' + textStatus + ' - ' + errorThrown);
                    }
                })
            }
        });
        showDef(currentIndex);
    })
</script>
</body>
</html>