<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>
<body>
<div>
    <form action="{% url 'createPage' %}" method="get">
            <button type="submit"><--</button>

    </form>

    {% if definitions_and_examples %}

    <div id="success-message" style="display: none;">

    </div>


    <div id="definitionDiv">

        <div id="definitionCarousel">

            <ol style="padding-left: 20px;">
                {% for item in definitions_and_examples %}
                    {% if forloop.first %}
                    <h2 id="word">{{ item.word }}</h2>
                    {% endif %}
                    <li id="definition-{{ forloop.counter }}" style="display: none;" >
                        <p id="definition-text-{{ forloop.counter }}"> {{ item.definition }} </p>
                        {% if item.example != "No example provided" %}
                            <p id="definition-text-{{ forloop.counter }}-example" style="font-style:italic;">{{ item.example }}</p>
                                 <input id="addWordBtn-{{ forloop.counter }}" type="image" src="{% static 'images/saveicon.png' %}" />
                        {% else %}
                            <p class="example" id="definition-text-{{ forloop.counter }}-nexample" style="font-style:italic;">{{ item.example }}</p>
                            <button id="naddWordBtn"type="submit">Add Word!</button>
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
            <input type="hidden" id="currentDefinitionId" value="">
                <button id="prevBtn">Previous</button>
                <button id="nextBtn">Next</button>
        </div>
    </div>
    {% else %}
        <p>Definitions not found!</p>
    {% endif %}
</div>

<script>



    document.addEventListener('DOMContentLoaded', function(){
        var definitions = document.querySelectorAll('#definitionCarousel li')
        var currentIndex = 0;

           function addQuotesToSentenceUse() {
            var definitions = document.querySelectorAll('#definitionCarousel li');
            definitions.forEach(function(definition, index) {
                 var sentenceUseElement = definition.querySelector(`#definition-text-${index + 1}-example, #definition-text-${index + 1}-nexample`);
                if (sentenceUseElement) {
                    var sentenceUseText = sentenceUseElement.textContent;
                    // Check if the sentence use does not start and end with quotation marks
                    if (!(sentenceUseText.startsWith('"') && sentenceUseText.endsWith('"')) && !(sentenceUseText.length === 0)) {
                        // Add quotation marks around the sentence use
                        sentenceUseElement.textContent = '"' + sentenceUseText + '"';
                    }
                }});
        }


        function fetchSentenceExample()
        {
            console.log('Sentence Example!');
            var definitionText = document.getElementById('definition-text-' + (currentIndex + 1)).textContent.replace(/\s+/g, ' ').trim();
            var sentence = document.getElementById('definition-text-' + (currentIndex + 1)  +'-example').textContent.replace(/\s+/g, ' ').trim().replace(/"/g, '');
            var word = document.getElementById('word').textContent.replace(/\s+/g, ' ').trim();


        }

        function showDef(index){
            var shownDefinitionId;

            definitions.forEach(function(definition,i){
                if(i === index){
                    definition.style.display = 'block';
                    shownDefinitionId = definition.id;
                } else{
                    definition.style.display = 'none';
                }
                  addQuotesToSentenceUse();

            });

            document.getElementById('currentDefinitionId').value = shownDefinitionId;
        }
        document.getElementById('definitionDiv').addEventListener('click', function(event){
            if(event.target.matches('#prevBtn')){
                console.log('Prev button Clicked');
                currentIndex = currentIndex > 0 ? currentIndex - 1 : definitions.length - 1;
                console.log(currentIndex);
                showDef(currentIndex);

            }else if(event.target.matches('#nextBtn')){
                console.log('Next button Clicked');
                currentIndex = (currentIndex + 1) % definitions.length;
                console.log(currentIndex);
                showDef(currentIndex);

            }else if(event.target.matches('#addWordBtn-' + (currentIndex + 1)) || event.target.matches('#naddWordBtn')){
                console.log('Add word button Clicked');
                var definitionText = document.getElementById('definition-text-' + (currentIndex + 1)).textContent.replace(/\s+/g, ' ').trim();
                var sentence = document.getElementById('definition-text-' + (currentIndex + 1)  +'-example').textContent.replace(/\s+/g, ' ').trim().replace(/"/g, '');
                var word = document.getElementById('word').textContent.replace(/\s+/g, ' ').trim();

                $.ajax({
                    url: '/searchAdd/',
                    type: 'POST',
                    data:{
                        'word': word,
                        'definition': definitionText,
                        'sentence': sentence,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response){

                        var successMessageElement = document.getElementById('success-message');
                        var img = document.getElementById('addWordBtn-' + (currentIndex + 1));

                        successMessageElement.textContent = 'Saved Successfully!';
                        successMessageElement.style.display = 'block';
                        successMessageElement.classList.add('success');

                        setTimeout(function(){
                            successMessageElement.style.display = 'none';
                            successMessageElement.textContent = '';

                        }, 1000);

                        img.setAttribute('src', "{% static 'images/checkmark.png' %}");
                        img.disabled = true;
                        $(img).off('click');


                    },
                    error: function(jqXHR, textStatus, errorThrown){
                         alert('There was a problem with the request: ' + textStatus + ' - ' + errorThrown);
                    }
                })
            }
        });
        showDef(currentIndex);
    })
</script>
</body>
</html>