p,h2,h1,button
{
    font-family: Montserrat, Arial, serif;    
    
}


.container{

    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

}


.title{
    grid-column: 2;
}

.form-div
{
    grid-row-start: 2;
    grid-column-start: 2;
    display: flex;
    justify-content: space-between !important;
    gap: 10rem;
}

.button
{

}