p, form, button, label, input, h1, h2, h3, h4{
    font-family: Montserrat, Arial, serif;
    color: whitesmoke;
}
html{
    background: #002244;

}

.svg-class
{
    fill: currentColor;
    pointer-events: none;
    width: 30px;
    height: 30px;
    padding: 6px 2px 4px 2px;
}


.container-div
{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 98vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
}


.back-button-form{
    position: absolute;
    top: 0.8svh;
    left: 0.8svh;
}
.back-button
{
    background: #4255ff;
    border: none;
    padding: 2px 20px 1px 18px;
    border-radius: 5px;
    transition: all 0.1s ease-in;
}

.back-button:hover
{
    background: #423ed8;
    cursor: pointer;

}
.back-button:active
{
    background: #14125c;
}


#back-button-svg
{
    width: 20px;
    height: 20px;
}
.card-container-div
{
    position: absolute;

}


.card-info-div
{

    background: #586380;
    padding: 3px 20px 3px 20px;
    border-radius: 20px;
    margin: 0px 0px 10px 0px;
    border: 3px solid #4255ff;

}


.loading-bar-div {
    background: none;
    width: 200px;
    height: 30px;
    position: relative; /* Ensure the parent is positioned */
    overflow: hidden; /* Hide overflow to ensure pseudo-elements are not visible outside */
}

.loading-bar-background {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
    width: 150%;
    height: 100%;
    position: absolute; /* Position the background absolutely within the parent */
    top: 0; /* Align the background to the top of the parent */
    left: -100%; /* Start the background off-screen to the left */
    animation: fadeInOut 0.8s infinite linear; /* Apply the animation */
}

/* Keyframes for fade-in from left and fade-out to right animation */
@keyframes fadeInOut {
    0% {
        left: -100%;
        opacity: 0;
    }

    50%{
        opacity: 0.5;
    }

    100% {
        left: 200%;
        opacity: 0;
    }
}

.ordered-list-div
{

    background: #2e3856;
    border-radius: 20px;
    min-width: 700px;
    max-width: 700px;
    max-height: 400px;
    min-height: 400px;
    border: 10px solid #002244;
    padding: 20px 0px 0px 40px;
}

.addWordBtn
{
    background: none;
    border: .125rem solid #586380;
    border-radius: 10px;
    height: 35px;
    display: flex;
    position: absolute;
    bottom: 120px;
    right: 70px;
    align-items: center;
    transition: 0.15s ease-in-out;

}

.hover-effect:hover {

    background: rgba(88, 99, 128, 0.2);
    cursor: pointer;

}

.hover-effect:active
{
    background: rgba(88, 99, 128, 0.5);
}




.addWordBtn-text
{
    pointer-events: none;
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
}
#addWordBtn-svg
{
    width: 16px;
    height: 16px;
    padding: 0px 0px 0px 5px;

}

.nav-div
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-buttons
{
    background: none;
    border: solid 2px #586380;
    border-radius: 50px;
    transition: 0.15s ease-in-out;

}




#counter
{
    margin: 0px 20px 0px 20px;

}

